.icon-register {
  position: absolute;
  color: #1e3d37;
  font-size: 25px;

  margin-left: -109px;
  margin-top: 7px;
}

.icon-register-password {
  position: absolute;
  color: #1e3d37;
  font-size: 25px;

  margin-left: -109px;
  margin-top: 7px;
}

.icon-register-password-retype {
  position: absolute;
  color: #1e3d37;
  font-size: 25px;

  margin-left: -109px;
  margin-top: 7px;
}