@import '../scss/config';
@import '../components/Header';
@import '~bootstrap/scss/bootstrap';


.App {
  background-color: $body-color;
}

/* SIGN IN PAGE */

.card {
  margin-bottom: 20px;
  border: none
}

.login-card {
  margin: 10vh;
  background: linear-gradient(to right, #ff304f00, #20c99759);
  border: 1px solid #0de0e8;
}

.login-title {
  color: rgb(31, 31, 31);
  padding: 20px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #a12f2f url(https://images.pexels.com/photos/1261578/pexels-photo-1261578.jpeg) no-repeat;
  height: 100vh;
  background-position-x: -588px;
  background-position-y: -277px;
  background-size: 3052px;
}

.box {
  width: 500px;
  padding: 40px;
  background: #191919;
  text-align: center;
  transition: 0.25s;
  margin-top: 100px
}

.box input[type="text"],
.box input[type="password"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid $warning;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  transition: 0.25s
}

.box h1 {
  color: white;
  font-weight: lighter;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 300px;
  border-color: $danger
}

.box input[type="submit"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid $warning;
  padding: 14px 40px;
  outline: none;
  color: white;
  transition: 0.6s;
  cursor: pointer
}

.box input[type="submit"]:hover {
  background: $warning;

}

.box input[type="submit"]:active {
  background: #358282;
  transition: 0.1s;
}

.forgot {
  text-decoration: underline
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0
}

ul.social-network li {
  display: inline;
  margin: 0 5px
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff
}

.social-network a.icoGoogle:hover {
  background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
  color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
  transform: rotate(360deg);
  transition: all 0.2s
}

.social-circle i {
  color: #fff;
  transition: all 0.8s;
}
/* END OF SIGN IN PAGE */


/* DISCOVER PAGE */
.discover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.discover-card-title {
  //width: 100%;
  //height: 400px;
  //background-image: linear-gradient(0deg, #d1cbe5, #1c969b);
  //border: 1px solid #6bc1c4;

  //width: 100%;
  //height: 400px;
  //background-image: linear-gradient(209deg, #194a4c, #191919);
  //border: 1px solid #6bc1c4;

  //width: 100%;
  //height: 400px;
  //background-image: repeating-linear-gradient(45deg, #53b6f300, #1c969b6b 1px);
  //border: 1px solid #6bc1c4;

  //width: 100%;
  //height: 400px;
  //background-image: repeating-linear-gradient(236deg, #d1cbe5, #1c969b54 4px);
  //border: 1px solid #6bc1c4;

  width: 100%;
  height: 400px;
  background-image: repeating-linear-gradient(236deg, #212930f5, #212529 4px);
  border: 1px solid #6bc1c4;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.discover-content {
  margin: 0 10vw;
  height: 100vh;
  background-color: white;
}

.searchBox1 {
  margin-top: 242px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 10%;
}

.searchInput1 {
  padding: 10px;
  width: 80px;
  height: 80px;
  background: none;
  border: 1px solid #f5deb3;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #d7cec8;
  outline: none;
  transition: 0.7s;
}

.searchBox1:hover input {
  width: 450px;
  height: 70px;
  /*background: #343838;*/
  background: white;
  border-radius: 0;
  border: 1px solid #00dffc;
  color:black
}

.search-bar {
  position: absolute;
  font-size: 26px;
  color: #00dffc;
  transition: .2s;
}

.searchBox1:hover .search-bar {
  opacity: 0;
  z-index: -1;
}

/*  BUILT-IN STYLES FOR PLACEHOLDER */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: transparent;
}

::-moz-placeholder { /* Firefox 19+ */
  color: transparent;
}

:-ms-input-placeholder { /* IE 10+ */
  color: transparent;
}

:-moz-placeholder { /* Firefox 18- */
  color: transparent;
}

:hover::-webkit-input-placeholder {
  color: #B0A18F;
  transition: .9s;
}

:hover::-moz-placeholder { /* Firefox 19+ */
  color: #B0A18F;
  transition: .9s;
}

:hover:-ms-input-placeholder { /* IE 10+ */
  color: #B0A18F;
  transition: .9s;
}

:hover:-moz-placeholder { /* Firefox 18- */
  color: #B0A18F;
  transition: .9s;}


