$primary: #60e2b9;
$secondary: #27282a;
$success: #00d5ff;
$danger: #F05D5E;
$info: #4d4aff;
$warning: #30daa8;
$light: #e9e9e9;
$dark: #000000;
$enable-gradients: false;
$spacer: 1.2rem;
$border-width: 1px;
$btn-border-radius: 0;

.navbar {
  height: 60px;
  background: $secondary;
  align-content: center;
}

.navbar-nav {
  position: absolute;
  grid-gap: 123px;
  padding: 0;
  margin: 0;
  bottom: 58px;
  list-style: none;
}

.navbar-nav-up {
  flex-direction: row;
  margin-bottom: 0;
  margin-right: 20px;
  align-items: center;
  position: absolute;
  grid-gap: 8vw;
  display: flex;
  padding-left: 0;
  left: 34%;
  list-style: none;
}

.navbar-title {
  margin: 10px;
  color: $warning;
  font-family: inherit;
}

.navbar-title-logo {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-item {
  margin: 20px;
  color: $warning;
  font-weight: 300;
  font-optical-sizing: revert;
}

.nav-item-s {
  color: #84ffd9;
  margin: 20px 10px 20px 8px;
  font-size: calc(1.1rem + 0.4vw);
}

.navbar-link {
  text-decoration: none;
}

.container-md {
  background: #41ffb4ab url(https://images.pexels.com/photos/1037996/pexels-photo-1037996.jpeg) no-repeat;
  height: 593px;
  width: 100%;
  top: 60px;
  background-position: bottom;
  display: flex;
  background-size: cover;
  /* box-shadow: 13px 15px 17px 2px #7db3b270; */
  position: absolute;
  background-blend-mode: darken;
  align-items: center;
  justify-content: space-around;
}

.current-page-title {
  color: #275859;
  position: absolute;
  font-family: 'Raleway', serif;
  font-size: 150px;
}

.header-menu {
  flex-direction: row;
}

.header-link {
  text-decoration: none;
  color: #00877b;
  font-size: 30px;
  font-weight: 200;
}