.navbar-title {
  margin: 20px;
  color: $primary;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: .6rem;
  padding-bottom: .6rem;
  background: $secondary;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  margin-bottom: 0;
  list-style: none
}

.nav-item {
  margin: 20px;
  color: $primary;
}

.navbar-link {
  text-decoration: none;

}