@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import '~bootstrap/scss/functions';
@import 'scss/config';
@import 'variables';
@import '~bootstrap/scss/bootstrap';
#root{
  height:95vh;
}

body {
  margin-top: 1140px;
  background-color: red
}